<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created by Mauricio Chavez. It uses data from mapbox.com and weatherstack!</p>
    <img class="portrait" src="/img/Zhongli.jpg" alt="ZhongliGOD" />
    </div>
    
    {{>footer}}
  </body>
</html>